{% extends "template.html" %}
{% block content %}
<h3 class="display-4">Your feedback:</h3>
<strong><p class="lead"><span class="badge badge-info mr-2">1</span>Pronounciation</p></strong>
<div class="row pl-4">
  <div class="col-md-3">
    <p>Original sentence:</p>
  </div>
  <div class="col">
    <p>
    {% for word in correct_list %}
      {% if word in wrong_correct %}
      <span class="text-danger">{{ word }}</span>
      {% else %}
      <span class="text-success">{{ word }}</span>
      {% endif %}
    {% endfor %}
    </p>
  </div>
</div>
<div class="row pl-4">
  <div class="col-md-3">
  <p>Your sentence:</p>
  </div>
  <div class="col">
    <p>
    {% for word in user_list %}
      {% if word in wrong_user %}
      <span class="text-danger">{{ word }}</span>
      {% else %}
      <span class="text-success">{{ word }}</span>
      {% endif %}
    {% endfor %}
    </p>
  </div>
</div>
<div class="row pl-4">
{% if wrong_correct|length == 0 %}
  <div class="bd-callout bd-callout-success">
    <h5> Great job! </h5>
    <p>Congratulations! You did very well on the pronounciation part of the exercise and pronouced
    all the words clearly and correctly!</p>

  </div>
{% elif wrong_correct|length <  correct_list|length // 2  %}
  <div class="bd-callout bd-callout-warning">
    <h5> Good job! </h5>
    <p>You have pronounced more than a half of the words correctly! Try practicing pronoucing
    the words clearly a little bit more and you will do great.</p>
  </div>
{% elif wrong_correct|length >= correct_list|length // 2 %}
<div class="bd-callout bd-callout-danger">
  <h5> Nice try! </h5>
  <p>You have got a lot of words off but don't worry, it's just the beginning of your journey! Try practicing pronoucing
  the words correctly more and you will see the progress.</p>
</div>
{% endif %}
</div>
<strong><p class="lead"><span class="badge badge-info mr-2">2</span>Pacing</p></strong>
{% endblock %}
